/* Settings.css */

.settings {
  flex: 1;
}

.settings-content {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.settings-section h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.error-text {
  font-size: 0.875rem;
}

.settings-content .form-control {
  max-width: 100%; /* Limit input field width within its container */
}

.submit-button {
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}
