
.navbar {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que el Navbar esté sobre otros elementos */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.user-icon {
  font-size: 1.5rem;
  color: white;
}

.profile-name {
  font-size: 1rem;
  color: white;
}
